@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
  font-family: "Inter", sans-serif;
}
@layer utilities {
  .ts {
    transition: all 500ms ease-in-out;
  }
}
.section-scroll-hide::-webkit-scrollbar {
  display: none; 
}

.section-scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;  
}